/* css/default.css */

.outer-container {
	width:100%;
	height:auto;
	position:relevant;
	padding:5px;
	margin:5px;
}

.header {
	font-size:20px;
	color:#333;
	text-align:center;
}

.container-small {
	width: 100pt;
	height:100pt;
	padding:3pt;
	border:1px solid black;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
}

.container-med { 
	width:200pt;
	height:200pt;
	padding:7pt;
	border:2px solid black;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
}

.container-large {
	width:250pt;
	height:250pt;
	border:3px solid black;
	padding:10pt;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
}

.responsive-img {
	width:100%;
	height:auto;
	min-width:auto;
}

.wrap-text {
	word-wrap:break-word;
}

.clear-trick {
	float:none;
	clear:both;
}

.break {
	width:100%;
	height:5px;
	margin-top:5pt;
	margin-bottom:5pt;
	background:black;
	position:relative;
}

.margin-center {
	margin:0 auto;
}

.text-center
{
	text-align:center;
}

.profile {
	position:fixed;
	width:100pt;
	height:25pt;
	border:1px solid black;
	top:5pt;
	left:5pt;
	color: brown;
	background:#fff;
	text-align:center;
	font-size:25px;
	line-height:25px;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
	content:"Default";
}

.profile p::after {
	width:100%;
	height:20pt;
	font-size:20;
	color:brown;
	content:"Default";
	position:absolute;
	top:3pt;
	left:0;

}

.little-font {
	font-size: 7pt;
}

#second-specific-inner {
	display:flex;
	vertical-align:center;
	justify-content:center;
	background-color:#fff;
}

#second-specific-outer
{
	display:flex;
	vertical-align:center;
	justify-content:center;
	align-items:center;
	padding:0;
	background-image: radial-gradient(red, yellow, green);
}

#third-specific {
	font-family:sans-serif;
	color:grey;
	background:black;
	text-align:center;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

#third-specific:hover, #third-specific:focus {
	color:pink;
	width:600px;
	height:200px;
	-webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
#third-specific span {
	opacity:0;
}
#third-specific:hover > span, #third-specific:focus > span {
	opacity:1;
	color:orange;
	font-size: 18pt;
	bottom:0;
}

.blank-space {
	width:100%;
	height:10pt;
	display:block;
	position:relative;
}