/* css/default.css */

* {
	font-family:sans-serif;
}
ul, li{
    margin: 0;
    padding: 0;
}

.outer-container {
	width:100%;
	height:auto;
	position:relative;
	padding:5px;
	margin:5px;
}

.header {
	font-size:20px;
	color:#333;
	text-align:center;
}

.profile-list {
	width:150pt;
	height:auto;
	padding:10pt;
	position:fixed;
	background:#fff;
	z-index:5;
	display:block;
	right:20pt;
	top:150pt;
	border: 2px solid #333;
}

#default {
	background:brown;
	color:#fff;
}

#default:hover {
	background:#fff;
	color:brown;
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

#number-two:hover {
	width:150pt;
	background:#333;
	color:#fff;
}

#ellipses {
	color:#D291BC;
}

#ellipses:hover {
	background:#D291BC;
	color:#fff;
	border-radius:50%;
	border:#D291BC;
}

.profile-list a {
	text-decoration:none;
	color:#333;
}

#profile-ul {
	list-style-type:none;
	width:100%;
	display:flex;
	margin:0 auto;
	flex-direction:column;
	align-items: center;
}

#profile-ul li {
	height:50pt;
	width:50pt;
	border:1px solid #333;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
	text-align:center;
	margin-top:5pt;
	padding:5pt;
}

.container-small {
	width: 100pt;
	height:100pt;
	padding:3pt;
	border:1px solid black;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
}

.container-med { 
	width:200pt;
	height:200pt;
	padding:7pt;
	border:2px solid black;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
}

.container-large {
	width:250pt;
	height:250pt;
	border:3px solid black;
	padding:10pt;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
}

.responsive-img {
	width:100%;
	height:auto;
	min-width:auto;
}

.wrap-text {
	word-wrap:break-word;
}

.clear-trick {
	float:none;
	clear:both;
}

.break {
	width:100%;
	height:5px;
	margin-top:5pt;
	margin-bottom:5pt;
	background:black;
	position:relative;
}

.margin-center {
	margin:0 auto;
}

.text-center
{
	text-align:center;
}

.profile {
	position:fixed;
	width:100pt;
	height:25pt;
	border:1px solid black;
	top:5pt;
	left:5pt;
	color: brown;
	background:#fff;
	text-align:center;
	font-size:25px;
	line-height:25px;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
}

.little-font {
	font-size: 7pt;
}

#second-specific-inner {
	display:flex;
	vertical-align:center;
	justify-content:center;
	background-color:#fff;
}

#second-specific-outer
{
	display:flex;
	vertical-align:center;
	justify-content:center;
	align-items:center;
	padding:0;
	background-image: radial-gradient(red, yellow, green);
}

#third-specific {
	font-family:sans-serif;
	color:grey;
	background:black;
	text-align:center;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

#third-specific:hover, #third-specific:focus {
	color:pink;
	width:600px;
	height:200px;
	-webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
#third-specific span {
	opacity:0;
}
#third-specific:hover > span, #third-specific:focus > span {
	opacity:1;
	color:orange;
	font-size: 18pt;
	bottom:0;
}

.blank-space {
	width:100%;
	height:10pt;
	display:block;
	position:relative;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}