/* css/ellipses.css */

.outer-container {
	width:100%;
	height:auto;
	position:relative;
	padding:5px;
	margin:5px;
}

.header {
	font-size:20px;
	color:#333;
	text-align:center;
	text-shadow:2px 2px 2px #686270;
}

.container-small {
	width: 100pt;
	height:100pt;
	border-radius:25%;
	padding:3pt;
	border:1px solid black;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
}

.container-med { 
	width:200pt;
	height:200pt;
	border-radius:50%;
	padding:7pt;
	border:2px solid #68e35f;
	background-color:#68e35f;
	color:#fff;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
}

.container-large {
	width:250pt;
	height:250pt;
	border:3px solid #6471ed;
	background-color:#6471ed;
	border-radius:50%;
	padding:10pt;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
	position:absolute;
	right:20pt;
	top:100pt;
}

.responsive-img {
	width:100%;
	height:auto;
	min-width:auto;
}

.wrap-text {
	word-wrap:break-word;
}

.clear-trick {
	float:none;
	clear:both;
}

.break {
	display:none;
}

.margin-center {
	margin:0 auto;
}

.text-center
{
	text-align:center;
}

.profile {
	position:fixed;
	width:100pt;
	height:75pt;
	border-radius:50%;
	border:2px solid #6471ed;
	top:5pt;
	left:5pt;
	padding-top:8pt;
	background:#fff;
	text-align:center;
	font-size:25px;
	line-height:25px;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
	color:#fff;
}

.profile::after {
	content:"Ellipses";
	position:absolute;
	color:#6471ed;
	font-size:15pt;
	top:27pt;
	left:20pt;
	z-index:2;
}

.profile-list {
	width:100pt;
	height:200pt;
	border:2px solid green;
	position:absolute;
	top:100pt;
	left:100pt;
}

#profile-ul a {
	width:25pt;
	height:25pt;
	border-radius:50%;
	list-style-type: none;
	border:1px solid black;
	display:block;
}

#profile-ul a:nth-child(1) {
	background:red;
	border:red;
}

#profile-ul a:nth-child(1):hover  > #profile-ul a:nth-child(1)::after {
	opacity:1;
	width:50px;
	height:50px;
	background:#ccc;
	position:absolute;
	z-index:10;
	content:"Default";
}

#profile-ul a:nth-child(2) {
	background:blue;
	border:blue;
}

#profile-ul a:nth-child(3) {
	background:yellow;
	border:yellow;
}

#profile-ul a:nth-child(4) {
	background: pink;
	border: pink;
}

#profile-ul a:nth-child(5) {
	background: black;
}



#profile-ul a li {
	opacity:0;
}

#default {

}

.little-font {
	font-size: 7pt;
}

#specific-biggest-inner {
	border:none;
	opacity:1;
	color:#6471ed;
}

#specific-biggest-inner::after {
	height:40pt;
	font-size:20pt;
	width:120p5;
	position:absolute;
	z-index:10;
	left:70pt;
	color:#fff;
	content:"L a r g e s T";
	text-align:center;
	line-height:20pt;
	opacity:1;
	text-shadow:5px 5px #3946bf;
}
#second-specific-inner {
	display:none;
	vertical-align:center;
	justify-content:center;
	background-color:#fff;
}

#second-specific-outer::after {
	content:"Medium";
	color:#9DBCD4;
	text-shadow:5px 5px #6D5ACF;
	position:absolute;
	width:100pt;
	height:30pt;
	top:50pt;
	left:50pt;
	font-size:20pt;
	z-index:2;

}

#second-specific-outer
{
	padding:0;
	position:absolute;
	top:300pt;
	right:350pt;
}


#third-specific {
	font-family:sans-serif;
	color:black;
	background:black;
	text-align:center;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
    border-radius:50%;
    position:absolute;
    top:500pt;
    right:200pt;
}

#third-specific::after {
	content:"Small";
	font-size:18pt;
	height:20pt;
	width:100pt;
	z-index:2;
	position:absolute;
	top:30pt;
	left:5pt;
	color:#FFFD01;
	text-shadow:5px 5px #FFF;
}

#third-specific span {
	opacity:0;
}

.blank-space {
	width:100%;
	height:10pt;
	display:block;
	position:relative;
}