/* css/number-two.css */

ul li, ul a li, ul {
	padding:0;
	margin:0;
}

.outer-container {
	width:100%;
	height:auto;
	position:absolute;
	padding:5px;
	margin:5px;
}

.header {
	font-size:20px;
	color:#333;
	text-align:right;
	padding-right:20pt;
}

.container-small {
	width: 100pt;
	height:100pt;
	padding:3pt;
	border:1px solid black;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
	display:block;
	position:absolute;
	z-index:1;
	left:0;
	top:25pt;
}

.container-med { 
	width:200pt;
	height:200pt;
	padding:7pt;
	border:2px solid black;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
	display:block;
	position:absolute;
	z-index:2;
	left:70pt;
	top:25pt;
}

.container-large {
	width:250pt;
	height:250pt;
	border:3px solid black;
	padding:10pt;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
	display:block;
	position:absolute;
	background-color:#fff;
	color:#fff;
	z-index:3;
	left:150pt;
	top:25pt;
}

.responsive-img {
	width:100%;
	height:auto;
	min-width:auto;
}

.wrap-text {
	word-wrap:break-word;
}

.clear-trick {
	float:none;
	clear:both;
}

.break {
	width:100%;
	height:5px;
	margin-top:5pt;
	margin-bottom:5pt;
	background:#fff;
	position:relative;
}

.margin-center {
	margin:0 auto;
}

.text-center {
	text-align:center;
}

.profile {
	position:fixed;
	width:150pt;
	height:50pt;
	border:1px solid black;
	top:50pt;
	right:50pt;
	color: brown;
	background:#fff;
	text-align:center;
	font-size:25px;
	line-height:25px;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
}

.profile p::after {
	content:"Number-Two";
	position:absolute;
	line-height:15pt;
	color:#333;
	left:0;
	text-align:center;
	width:100%;
	font-size:20pt;
}

.profile-list {
	position:absolute;
	top:320pt;
	left:50pt;
	border:2px solid black;
	min-width:200pt;
	height:100pt;
	display:flex;
	align-items: center;
	justify-content: center;
	z-index:10;
	left:20pt;
}

.profile-list:hover {
	background-color:#333;
	color:#fff;
}

.profile-list h4 {
	display:flex;
	align-self:flex-start;
	top:-14pt;
	position:absolute;
}

#profile-ul {
	position:absolute;
	list-style-type: none;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-flow:row wrap;
	min-width:150pt;
	height:65pt;
	left:25pt;
	top:20pt;
}

#profile-ul a {
	text-decoration: none;
}

#profile-ul a li {
	display:inline-block;
	width:50pt;
	height:50pt;
	border:1px solid black;
	padding:5pt;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-flow: row wrap;
	text-align: center;
	color:#333;
	box-type:border-box;
	-webkit-box-type:border-box;
	-moz-box-type:border-box;
	-webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}

#profile-ul a li:hover {
	z-index:10;
	transform: translate(20px, 20px);
}

#default {
	position:absolute;
	z-index:1;
	left:0;
	top:0;
	background-color:#fff;
}

#number-two {
	position:absolute;
	z-index:2;
	top:0;
	left:20pt;
	background-color:#fff;
}

#ellipses {
	position:absolute;
	z-index:3;
	top:0;
	left:40pt;
	background-color:#fff;
}

#fourth {
	position:absolute;
	z-index:4;
	top:0;
	left:60pt;
	background-color:#fff;
}

#fifth {
	position:absolute;
	z-index:5;
	top:0;
	left:80pt;
	background-color:#fff;
}
.container-large .container-small {
	border:1px solid #fff;
}

#specific-biggest-inner::after {
	width:100%;
	height:50pt;
	position:absolute;
	content:"LG";
	color:#333;
	font-size:50pt;
	top:0;
	left:0;
}

.little-font {
	font-size: 7pt;
}

#second-specific-inner {
	display:flex;
	vertical-align:center;
	justify-content:center;
	background-color:#fff;
	border:1px solid #fff;
}

#second-specific-outer
{
	display:flex;
	vertical-align:center;
	justify-content:center;
	align-items:center;
	padding:0;
	background-color:#fff;
	color:#fff;
}

#second-specific-inner::after {
	content:"MED";
	color:#333;
	font-size:24pt;
	width:100%;
	height:30pt;
	left:0;
	position:absolute;
}

#third-specific {
	font-family:sans-serif;
	color:#fff;
	background:#fff;
	text-align:center;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

#third-specific::after {
	content:"SM";
	height:20pt;
	width:100%;
	font-size:20pt;
	left:0;
	top:0;
	position:absolute;
	color:#333;
	text-align:left;
}

#third-specific:hover, #third-specific:focus {
	color:pink;
	width:600px;
	height:200px;
	-webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#third-specific span {
	opacity:0;
}

#third-specific:hover > span, #third-specific:focus > span {
	opacity:1;
	color:orange;
	font-size: 18pt;
	bottom:0;
}

.blank-space {
	width:100%;
	height:10pt;
	display:block;
	position:relative;
}

@media screen and (max-width: 768px) {
	
	body {
		background:green;
	}
	
	#profile-ul {
		space-between:10px;
	}
	#profile-ul a li {
		display:relative;		
		z-index:1;

	}











































































































































}